hr{
    /* background-color: ; */
    border-color: #576F72;
    border-width: 8px;
    border-style: none; /*Here we have to set the display style to none because it is inset by default which is more of an embedded look and hence colour isn't visible*/
    border-top-style: dotted;
    /* height: 5px; We have to change the height because it is 0px by default */
    width: 15%;
}
img{
    height: 200px;
}
body{
    background-color: #D3CEDF;
}
h1{
    color: #748DA6;
}
h3{
    color: #748DA6;
}

/*ID and class selectors take preference over general tag selectors, so if tag is supposed to be red and id asks it to be blue it will be blue not red*/

/* . is used for class and # for ID */

.circular{
    border-radius: 100%;
}

a:hover{
    color: #7F5283;
}

a:visited{
    color: #100720;
}